NUXT_ENV_API_URL='http://localhost:4000/graphql'
NUXT_ENV_CANONICAL='http://localhost:4000/graphql'
NUXT_ENV_COOKIE_NAME='_nuxt-spa'
NUXT_ENV_DESCRIPTION='サンプルテキストサンプル ルテキストサンプルテキストサンプルテキストサンプル ルテキスト'
NUXT_ENV_ERROR_MESSAGE_TIMEOUT=3000 
NUXT_ENV_TITLE='Blog Inc.'
