*,
html,
body {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  padding-top: 100px;
}
